---
layout: layouts/base.njk
title: Tags
---

<h1>Tous les Tags</h1>

<div class="tag-cloud">
    {% for tag in collections.tagList %}
    {% set taggedPosts = collections.blog | filterByTag(tag) %}
    <a href="/tags/{{ tag }}/" class="tag-item">
        #{{ tag }} <span class="count">({{ taggedPosts.length }})</span>
    </a>
    {% endfor %}
</div>
